@{
    ViewData["Title"] = "Index";
}
@*<link rel="stylesheet" href="~/css/Index.css" />*@


<h2>ABC's</h2>

<p>Learn your letters!</p>


@*<div class="container"> 
    <div class="flex-row">
        <div class="col">
            <img src="~/lib/images/I.jpg" alt="I" width="300px" class="rounded" />

        </div>
        <div class="col">
            
                <img src="~/lib/images/A.jpg" alt="A" width="300px" class="rounded"/>
            
            
                <img src="~/lib/images/C.jpg" alt="C" width="300px"/>
            </div>
            <div class="float-right">
                <img src="~/lib/images/H.jpg" alt="H" width="300px"/>
            </div>
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col-6">
           
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                <img src="~/lib/images/I.jpg" alt="I" width="300px" />
            </button>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                <img src="~/lib/images/C.jpg" alt="C" width="300px" />
            </button>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                <img src="~/lib/images/H.jpg" alt="H" width="300px" />
            </button>
            
        </div>
    </div>

</div>



