@model LetterQuiz
@{
    ViewData["Title"] = "Index";
}



<h2>ABC's</h2>

<p>Learn your letters!</p>



<div class="container">
    <div class="row">
        <div class="col">

            <p style="font-size: 150px">@(Model.Answer)</p>
        </div>
        <div class="col-6">

        </div>
        <div class="col">
            
           
            @foreach (var letter in Model.AllLetters)
            {   

                <a class="btn btn-primary" onclick="$.post('/Menu/Quiz/', {answer: '@Model.Answer', option: '@letter'}, function (data) {
                     $('#response').html(data);})">
                    <img src="~/lib/images/@(letter).jpg" width="200" height="200" class="img-fluid"/>
                </a>
            }

        </div>
    </div>
    
<div id="response"></div>


</div>



