@{
    ViewData["Title"] = "Index";
}
@*<link rel="stylesheet" href="~/css/Index.css" />*@


<h2>ABC's</h2>

<p>Learn your letters!</p>



<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">

        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                <img src="~/lib/images/A.jpg" alt="A" width="auto" height="200px" class ="img-fluid"/>
            </button>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                <img src="~/lib/images/O.jpg" alt="O" width="auto"  height="200px" class ="img-fluid"/>
            </button>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                <img src="~/lib/images/H.jpg" alt="H" width="auto"  height="200px" class ="img-fluid"/>
            </button>

        </div>
    </div>

</div>



